*, a.btn {
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

html, body {
    position: relative;
    -webkit-overflow-scrolling: touch;
    color: #fff;
    font-size: 100%;
    padding: 0;
    margin: 0;
    background: #295f77;
 /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NWY3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMyNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #295f77 0%, #113251 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#295f77), color-stop(100%,#113251));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #295f77 0%,#113251 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #295f77 0%,#113251 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #295f77 0%,#113251 100%);
 /* IE10+ */
    background: linear-gradient(to right, #295f77 0%,#113251 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295f77', endColorstr='#113251',GradientType=1 );
 /* IE6-8 */
}

html {
    position: relative;
    min-height: 100%;
}
header{text-align:center;}
.col-md-2.pull-right {
    padding-right: 10px;
    padding-top: 5px
}

.col-md-2.pull-right input, .col-md-2.pull-right img {
    float: right!important;
    margin: 5px 3px 0 3px;
}

.col-md-12 .col-md-2 select, .col-md-12 .col-md-3 select {
    float: left;
    width: 90%;
    font-size: 13px!important;
    height: 25px;
    margin: 5px 0 0 10px;
    background-color: #29a3cc;
    border: none;
    color: #fff;
}

.col-md-12 .col-md-2 select option:focus, .col-md-12 .col-md-3 select option:focus {
    background-color: #1a6680;
    border: none;
    color: #fff;
}

.vr_textbox {
    font-size: 13px!important;
    margin-top: 7px;
    float: left;
}

.no-alt .col-md-1, .no-alt .col-md-2, .no-alt .col-md-3, .no-alt .col-md-4, .no-alt .col-md-5, .no-alt .col-md-6, .no-alt .col-md-7, .no-alt .col-md-8, .no-alt .col-md-9, .no-alt .col-md-10, .no-alt .col-md-11, .no-alt .col-md-12 {
    height: auto;
}

.contCards {
    position: relative;
    background: #198eb5;
    height:150px;
 /* Old browsers */
    .
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5OGViNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzZhODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  #198eb5 0%, #136a88 100%);
 /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#198eb5), color-stop(100%,#136a88));
 /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #198eb5 0%,#136a88 100%);
 /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #198eb5 0%,#136a88 100%);
 /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #198eb5 0%,#136a88 100%);
 /* IE10+ */
    background: linear-gradient(to right,  #198eb5 0%,#136a88 100%);
 /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198eb5', endColorstr='#136a88',GradientType=1 );
 /* IE6-8 */
    margin: 5px 0;
}

.contCards .clasificador, .contCards .desc {
    width: 100%;
    height: 33.3%;
    line-height: 28px;
    padding: 10px;
    text-align: center;
    border-bottom: 1px dashed white;
}

.contCards .data {
    width: 100%;
    height: 33.3%;
    line-height: 56px;
    padding: 0;
    text-align: center;
    position: relative;
    float: left;
}

.data .infoData {
    float: left;
    width: 50%;
}

.contCards .clasificador {
  line-height:20px;
}

.contCards .ver, .contCards .firmar {
    /*position: relative;*/
    width: 25%;
    height: 100%;
}

.contCards .ver a, .contCards .firmar a {
}

.contCards .ver input {
    cursor: pointer;
}

.contCards .ver img {
    height: 65%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 10px;
}

.contCards .firmar img {
  height: 65%;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
}

.contCards .ver, .contCards .firmar {
    float: left;
    width: 25%;
    /*
    border-bottom: 67px solid #30d9c4;
    border-right: 67px solid transparent;
    position:relative;*/
}

.ver .leftSign {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    /*height: 150%;*/
}

.firmar .rightSign {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
}

.contCards.odd{margin-right:1%;}
.contCards.even{margin-right:0;}
/* isotope*/
.docsFilter{margin:0 0 5px 5px;}
.docsFilter a {
    margin: 10px 10px 0 0;
  color:#fff;
  text-decoration:none;
    font-weight:bold;
    padding:15px;
}

.docsFilter a.current {
    margin-right: 10px;
}



.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/* isotope*/
@media (max-width: 767px) {
    .contCards {
        height: 200px;
        margin: 10px 0;
        background: #198eb5;
 /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5OGViNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMzZhODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(left,  #198eb5 0%, #136a88 100%);
 /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#198eb5), color-stop(100%,#136a88));
 /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #198eb5 0%,#136a88 100%);
 /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #198eb5 0%,#136a88 100%);
 /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #198eb5 0%,#136a88 100%);
 /* IE10+ */
        background: linear-gradient(to right,  #198eb5 0%,#136a88 100%);
 /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#198eb5', endColorstr='#136a88',GradientType=1 );
 /* IE6-8 */
    }
}

@media (max-width: 767px) and (orientation : portrait) {
  .ver .leftSign{width: 18%;}
  .firmar .rightSign{width: 18%;}
  .contCards .ver img, .contCards .firmar img {top:32px;height:40%;}
  .contCards .ver img {left:5px;}
  .contCards .firmar img {right:5px;}
}
@media (max-width: 767px) and (orientation : landscape) {
  .ver .leftSign{width: 17%;}
  .firmar .rightSign{width: 17%;}
  .contCards .ver img {top:11px;left:12px;}
}

@media (min-width: 768px) {
  .ver .leftSign{width: 18%;}
  .firmar .rightSign{width: 18%;}
  .contCards .ver img, .contCards .firmar img {top:30px;height:40%;}
  .contCards .ver img {left:5px;}
  .contCards .firmar img {right:0px;}
  .data .infoData {
      float: left;
      width: 50%;
  }
}

@media (max-width: 991px) and (orientation : landscape) {
}

@media (min-width: 992px) {
  .ver .leftSign{width: 18%;}
  .firmar .rightSign{width: 18%;}
  .contCards .ver img, .contCards .firmar img {top:20px;height:40%;}
  .contCards .ver img {left:8px;}
  .contCards .firmar img {right:8px;}
}

@media (min-width: 1200px) {
  .contCards.odd{margin-right:1%;}
  .contCards.even{margin-right:1%;}
  .contCards .ver, .contCards .firmar {
      float: left;
      width: 18%;
      /*
      border-bottom: 67px solid #30d9c4;
      border-right: 67px solid transparent;
      position:relative;*/
  }
  .data .infoData{width: 64%;}
}

@media only screen and (min-width : 1200px) {


@media only screen and (min-width : 2000px) {
/* pantalles molt grans */
  /*.testing{width:500px;height:500px;background-color:black;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;display:block;}*/
}
