/*absSplash.png*/

*, a.btn{outline:0;-webkit-overflow-scrolling: touch;}
html {
position: relative;
min-height: 100%;
  background-color: #295f77; /* Old browsers */
}
body.splash {
/* Margin bottom by footer height */
color:#fff;

background:transparent url('../img/absSplash.png') no-repeat center center;
/*background:transparent url('http://lorempixel.com/output/city-h-c-276-283-5.jpg') no-repeat center center;*/

}
html.firma, body.firma{
  background: #949694!important; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NWY3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMyNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+)!important;
  background: -moz-linear-gradient(left, #949694 0%, #949694 100%)!important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#949694), color-stop(100%,#949694))!important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #949694 0%,#949694 100%)!important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #949694 0%,#949694 100%)!important; /* Opera 11.10+ */
  /*background: -ms-linear-gradient(left, #949694 0%,#949694 100%)!important; /* IE10+ */*/
  background: linear-gradient(to right, #949694 0%,#949694 100%)!important; /* W3C */
  background-color: #949694!important; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#949694', endColorstr='#949694',GradientType=1 )!important; /* IE6-8 */
}
html, body{
  position: relative;
  -webkit-overflow-scrolling: touch;
  color:#fff;
  font-size:100%;
  padding:0;
  margin:0;
  background: #295f77; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NWY3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMyNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #295f77 0%, #113251 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#295f77), color-stop(100%,#113251)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #295f77 0%,#113251 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #295f77 0%,#113251 100%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(left, #295f77 0%,#113251 100%); /* IE10+ */*/
  background: linear-gradient(to right, #295f77 0%,#113251 100%); /* W3C */
  background-color: #295f77; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295f77', endColorstr='#113251',GradientType=1 ); /* IE6-8 */


}
/* Sticky footer styles
-------------------------------------------------- */
.overlayViaFirma{height:100%;position:absolute;top:0;left:0;width:100%;background-color:rgba(0,0,0,.5);z-index:50;display:none;}
.contentViaFirma{position: absolute;top: 0;color: white;z-index: 51;left: 0;right: 0;bottom: 0;margin: auto;width: 200px;height: 100px;text-align:center;}
.contentFirmant{position: absolute;top: 0;color: white;z-index: 51;left: 0;right: 0;bottom: 0;margin: auto;width: 370px;height: 150px;text-align:center;

background: #295f77;
/* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NWY3NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMTMyNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, #295f77 0%, #113251 100%);
/* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#295f77), color-stop(100%,#113251));
/* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #295f77 0%,#113251 100%);
/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #295f77 0%,#113251 100%);
/* Opera 11.10+ */
background: -ms-linear-gradient(left, #295f77 0%,#113251 100%);
/* IE10+ */
background: linear-gradient(to right, #295f77 0%,#113251 100%);
/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295f77', endColorstr='#113251',GradientType=1 );
/* IE6-8 */

}
.contentFirmant  strong{margin-top: 30px; float: left; width: 100%; text-align: center;}
.testing{display:none;}
.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
/*background-color: #f5f5f5;*/
}

.footer a.btn {
margin :0;
width:100%;
height:100%;
line-height:48px;
font-size:30px;
}

.logo{width:644px;height:660px;position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;}
.logo img{width:50%;height:50%;}
.row .col-md-12.logoLogin{height:250px;width:100%;text-align:center;}
.smartLandscape{position:absolute;top:0;right:0;width:49%;height:40%;background-color:red;background:transparent url('../img/logoLandscape.png') no-repeat center center;display:none!important;}
#loginFirmador{position:relative;float:left;}
#loginFirmador .filaInput{width:100%;padding:25px 50px;background-color:rgba(255,255,255,0.3);margin-bottom:30px;height:100px;background-color:#5d788d;}
#loginFirmador input{width:100%;height:100%;background-color:transparent;border:none;color:#fff;}


/*personalizar placeholders*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b2c3cc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b2c3cc;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b2c3cc;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #b2c3cc;
}
/*personalizar placeholders*/
.filaSubmit {width:100%;margin-bottom:10px;float:left;}
.filaSubmit button[type="submit"], a.loguearse{width:100%;height:100%;font-size:2em;}
hr.sepLog{float: left;margin:10px 0;
width: 100%;}
#loginFirmador p{color:#ccc;font-size:1em;width:100%;text-align:center;margin:20px 0;float:left;}
div.access{position:relative;}
a.access{position:absolute;bottom:0;left:0;z-index:10;width:100%;font-size:2em;line-height:2.3em;}
body.splash .container{height:100%;width:100%;padding:0;}
body.firma .container{padding:0;}
body.login .container{height:100%;}
body.login .col-md-12.myform{height:auto!important;}
body.login .row{margin: auto;height: auto!important;position: absolute;top: 0px;left: 0px;bottom: 0px;right: 0px;width: 90%;  }

body.firma .header-firma{height:96px;background-color:#dedfde;margin-bottom:19px;border-bottom:1px solid #6b6d6b;}
.header-firma img{float:left;margin:22px 15px 0 30px;}
.header-firma .title{float:left;font-size:35px;margin-top:22px;}
.moduloFirma {border:1px solid #6b6d6b;border-radius:5px;background-color:#f7f7f7;}
.moduloFirma .top{height:78px;border-bottom:2px solid #6b6d6b;}
.moduloFirma .top h2{float:left;width:100%;font-size:18px;text-align:center;line-height:68px;height:100%;margin:0;}
.moduloFirma .middler{height:380px;border-bottom:2px solid #6b6d6b;position:relative;}
.moduloFirma .middler p{float:left;width:100%;font-size:25px;text-align:left;padding:0 30px;line-height:40px;}
.moduloFirma .middler > div{float:left;margin:0 3%;width:94%;border:1px solid #ccc;border-radius:5px;padding:10px;}

.contOptions div{float:left;height:36px;margin-bottom:20px;}
.contOptions .option1, .contOptions .desc1, .contOptions .option2, .contOptions .desc2{height:51px;}
.contOptions .desc1 span, .contOptions .desc2 span{height:50px;font-size:20px;line-height:37px;}
.moduloFirma .bottomer{height:81px;border-bottom:2px solid #6b6d6b;}
.moduloFirma .bottomer h2{float:left;width:100%;font-size:30px;text-align:center;line-height:68px;height:100%;margin:0;}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*loading ........*/
.cargando{display:none;}
.loading {
  position: absolute;
  border-color:transparent!important;
  height:120px!important;
  top: 50%;
  left: 50%;
  z-index:51;
}

.loading.white .bullet {

  background: #fff;

}
.loading .bullet {
  position: absolute;
  padding: 5px;
  border-radius: 50%;
  background: #65a3ff;
  -webkit-animation: animIn 1s ease-in-out 0s infinite;
          animation: animIn 1s ease-in-out 0s infinite;
}
.loading .bullet:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading .bullet:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.loading .bullet:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading .bullet:nth-child(4) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

@-webkit-keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes animIn {
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
}

/*loading ........*/

a.cargarMas{width:99%;padding:20px 0;font-size:28px;margin:20px 0 0 0;}
