@font-face {
  font-family: 'absisFont';
  src: url('absisFont.eot'); /* IE9 Compat Modes */
  src: url('absisFont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('absisFont.woff') format('woff'), /* Modern Browsers */
       url('absisFont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('absisFont.svg#absisFont') format('svg'); /* Legacy iOS */
       	font-weight: normal;
	font-style: normal;
}

.iconAbs {
	font-family: 'absisFont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.active i.fa-angle-double-right.pull-right:before{	content: "\f103";}
.abs-logo_absis:before {content: "\e600";}
#btnMostra, .accDirecte.hide {display: none;}
#btnMostra.show {display: block;}
/* abstaules*/
 /********************** default *********************/
#alertes{padding: 0 10px 10px 10px;overflow-y:auto; }
.table tr{cursor: pointer;}
.table tr.active > td{position: relative;}
td > img.exclImg{position: absolute;top:0;left: 0;right: 0;bottom: 0;margin: 5px auto 0}
.filtres{margin-bottom: 10px; }

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
    /********************** default *********************/
    .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  /*color: #333;*/
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary .badge {
  color: #428bca;
  background-color: #fff;
}
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border-left: 5px solid rgb(85,85,85);
	position: relative;
}
.table.sinmargen{border-left: 1px solid #dddddd;border-right: 1px solid #dddddd;border-bottom: 1px solid #dddddd;}
.table td.literals {
	border: none !important;
}

.table th,
.table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
	width: 250px;
}
.table tr.last td{border-bottom: 2px solid #dddddd;}
.table th.inverse{color:#fff;}
.table th {

	font-weight: bold;
	user-select: none;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.table th img{position:absolute;right: 10px;top:9px;width: 16px; height: 16px;cursor: pointer;}
img.expandTable{display:none;}
.table th.literales {
	width: 25%;
	border-left: 3px solid rgb(85,85,85);
	text-align: center;
	color:#FFFFFF;
}
.table th.campos {
	width: 75%;
}
.table thead th {
	vertical-align: bottom;
	background-color: #555;
  border-bottom: none!important;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
	border-top: 0;
}
.table-hover tbody tr td:hover {
	background-color: #f5f5f5;
	font-style: italic;
}
.table-hover tbody tr > td > span:first-child {
	font-weight: bold;
}
table.table td {
	width: 25%;

}
.table thead th.literales.separadorAbs, .separadorAbs {
	border-left: 1px dashed #5BC0DE;
}
tr .icheckbox_minimal{

	margin-left:10px;
}

table.tablas50 {
    width:50%;
    float:left;
}
table.tablas50.mright {
    margin-right:0px;
}
table.tablas33 {
    width:33.33%;
    float:left;
}
table.tablas33.mright {
    margin-right:0px;
}
table.tablas100{width:100%;float:left;}

.codigo{margin-bottom:20px;}
.cerrado{display:none;}
a#idT1, a#idT2, a#idT3{cursor: pointer;}
.col-md-12.tete{background: #F9F9F9 url('../../images/load.png') no-repeat center center;}
.treeview-menu li a strong{color:red;}
h1.titRight{color: #FFF;
margin: 11px 0 0 10px;
font-size: 23px;}
.content{background: transparent url('../../images/ajax-loader.gif') no-repeat center center;}
.lanzadera {background-color: #f9f9f9;}
img.corpo{

       margin:auto;
  position:absolute;
  z-index: 1031;
  top:5px;
  
  left:5px;
  cursor: pointer;
  width: 40px; /*variable*/
  height: 40px;  /*variable*/
 
}
body > .overlay{
display: none;
}
body > .overlay > div{
           margin:auto;
  position:absolute;
  z-index: 30;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width: 300px; /*variable*/
  height: 210px;  /*variable*/
  background-color: #357CA5;
  padding: 20px;
  border-radius: 10px;
}
body > .overlay > div h2{width: 100%;color:#fff; border-bottom: 1px solid #fff;text-align: center;margin-top:0;margin-bottom:30px; padding-bottom: 10px;}
body > .overlay input{}
body > .overlay div.contTot{position: relative;}
body > .overlay a{width: 49%;margin-top:20px;float: left;}
body > .overlay a.btn-login{margin-right:2%; }
p.error{position: absolute;width: 100%;top:-19px;left:0;text-align: center;line-height: 10px;color:white;text-transform: uppercase;font-style: italic;font-weight: bold;display: none;}